.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.navigation__item {
    color: white;
}

li {
    padding-right: 25px;
}
.navigation__item--selected {
    color:#c7b299;
}